input[type="file"] {
  display: none;
}
.cst-up {
  border: 1px solid #ccb1c7;
  width: 100%;
  height: 140px;
  cursor: pointer;
}

.cst-up label {
  padding-top: 10px;
}

.box img {
  width: 110px;
  height: 140px;
  border-radius: 8px;
  margin: 5px;
}

.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text {
  position: absolute;
  right: 0;
  text-align: center;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  font-family: Arial, sans-serif;
  color: #fff;
  width: 50%; /* Set the width of the positioned div */
  text-shadow: 2px 2px black;
}

.modal p {
  font-family: "Century Gothic";
  font-size: 17px;
}

h6 {
  color: red;
  text-align: center;
}
